.container-fluid.allAboutMe#about(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.row
		.col-xl-5
			h3.display-3.header#about About 
			h3.display-3.header#me Me
		.col-xl-7.aboutText
			#about-1
				p I began the web development journey early-February of 2017. I had been teaching as an ESL Foreign Instructor for three years in Shanghai, China. I felt closed off from challenges and opportunities, from personal and career growth; I was "stuck."
			|
			hr.second
			|
			#about-1
				p It was an unmissable desire to change careers that led me to attempt Javascript. There were friends and, as we know, an extensive array of online articles claiming, "Oh, Javascript is difficult, too difficult! And, how do you know a company's gonna accept you after finishing the program?" - to put it succinctly.  
			|
			hr.second
			|
			#about-2
				p None of it worried me, mainly for the reason that I knew I would gain the knowledge necessary to build what you see now, and even more. Below, you'll see the applications I created through Treehouse Inc.'s rigorous training, all of which I gained in under a year. 
			|
			hr.second
			|
			#about-2
				p My goal is to not only gain a panoply of coding skills and programming languages and learn from within your team of hardworkers; I want you to know I am ready to be an active part of your team to which I can contribute and recieve. 