.container-fluid#projects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.row
		.col-sm-5
			h3.display-3.allProjects.header Projects
		.col-sm-7#allProjects
			.row.mainProjects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-6
					p.employee.projects Employee Directory
					a(href="https://github.com/azzanb/employee_directory_v1" target='_blank')
						img.projectPicture(src='/images/projectPictures/employeeDirectory.jpg')
				|
				.col-xl-6
					p.tweet.projects Twitter API
					a(href="https://github.com/azzanb/RESTwitter" target='_blank')
						img.projectPicture(src='/images/projectPictures/twitter.jpg')
			|
			.row.mainProjects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-6
					p.interactive.projects Interactive Form
					a(href="https://github.com/azzanb/interactive-form-v1" target='_blank')
						img.projectPicture(src='/images/projectPictures//interactiveForm.jpg')
				|
				.col-xl-6
					p.gulp.projects Gulp
					a(href="https://github.com/azzanb/gulp-build-v2" target='_blank')
						img.projectPicture(src='/images/projectPictures/gulp.jpg')
			.row.mainProjects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-6
					p.angular.projects Recipes with Angular
					a(href="https://github.com/azzanb/single-page-app" target='_blank')
						img.projectPicture(src='/images/projectPictures/angularRecipe.jpg')
				|
				.col-xl-6
					p.library.projects SQLite3 Library Manager
					a(href="https://github.com/azzanb/sequelize-library-manager" target='_blank')
						img.projectPicture(src='/images/projectPictures/libraryManager.jpg')
			.row.mainProjects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-6
					p.tic.projects Easy Tic Tac Toe
					a(href="https://github.com/azzanb/tic-tac-toe-v3" target='_blank')
						img.projectPicture(src='/images/projectPictures/ticTacToe.jpg')
				
				.col-xl-6
					p.csv.projects Web Scraper to CSV
					a(href="https://github.com/azzanb/scraper" target='_blank')
						img.projectPicture(src='/images/projectPictures/scraper.jpg')
				|
			.row.mainProjects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-6
					p.apiCreation.projects MongoDB API Creation
					a(href="https://github.com/azzanb/express-rest-api" target='_blank')
						img.projectPicture(src='/images/projectPictures/expressRest.jpg')
				.col-xl-6
					p.random.projects Random Quote Generator
					a(href="https://github.com/azzanb/random-quote-v2" target='_blank')
						img.projectPicture(src='/images/projectPictures/randomQuote.jpg')
			.row.mainProjects(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-6
					p.html.projects Portfolio Site
					a(href="https://github.com/azzanb/first-project-tweetMovie" target='_blank')
						img.projectPicture(src='/images/projectPictures/portfolio.jpg')
				.col-xl-6
					p.html.projects Ride Me Cycling - Website Coming Soon!
					a(href="/notYet" target='_blank')
						img.projectPicture(src='/images/projectPictures/rideMeCycling.jpg')













