.container-fluid#certificates(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.allCertificates
		.row
			.col-xl-6
				h3.display-3.certificateHeader.header Certificates
			.col-xl-6.snapshot
				img.treehouseCertificate(src='/images/treehouseCertificate.png' alt='FullStack Javascript Certificate')
	

