.container-fluid#education(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.row
		.col-xl-5
			h3.display-3.educationTitle.header Education
		.col-xl-7#diplomaDescription
			img.diplomaPicture(src='/images/diploma.jpg' alt="B.A. Diploma")
			p.title B.A. in Global Studies with a Concentration in Spanish, 2014
			|
			hr.first
			|
			p.school Appalachian State University
			|
			hr.first
			|
			p.city Boone, NC
