.container-fluid#employment(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.container.aboutMe
		h3.display-3.employmentHeader.header Employment
	.container.employmentText
		.row#employmentTextRowOne
			.col-sm-6
				h4.position Project Review Services Consultant Contractor (Remote)
				|
				hr.second
				|
				p.company Treehouse Island Inc. - Orlando, FL
				|
				hr.second
				|
				p.time November 2017 - Current
				|
				hr.second
				|
				p.description Assessed and provided detailed feedback for students' projects of the FullStack Web Development program in order to . Assisted in reformatting code to ensure the DRYest method possible, and debugged errors that occurred in both the client- and server-side programming.
			|
			.col-sm-6
				h4.position ESL Foreign Language Instructorn (Remote)
				|
				hr.second
				|
				p.company TutorABC - Shanghai
				|
				hr.second
				|
				p.time October 2017 - Current
				|
				hr.second
				|
				p.description
		.row#employmentTextRowTwo
			.col-sm-6
				h4.position ESL Foreign Language Instructor
				|
				hr.second
				|
				p.company WEB International English - Shanghai, China
				|
				hr.second
				|
				p.time October 2015 - July 2017
				|
				hr.second
				|
				p.description Instructed teenager and adult students, of all ages, in Conversational, Cultural, and Business English, from absolute Beginner to Advanced. I ensured student-to-student interaction in every class with all verbal assignments. Alongside Chinese tutors, we collaborated monthly to create activities that served as games and challenges to assess students’ levels and methods of improvement. In addition to my duties, I volunteered to tutor students in conversational techniques for their employment requirements.
			|
			.col-sm-6
				h4.position ESL Foreign Language Instructor
				|
				hr.second
				|
				p.company Kid Castle - Shanghai, China
				|
				hr.second
				|
				p.time September 2014 - October 2015
				|
				hr.second
				|
				p.description Created dynamic, activity-fueled lesson plans for students ages 4-13, in levels from Beginner English to Intermediate English. With at least 35 hours of teaching per week, I led classes in which only English was used and reinforced to promote and enhance conversations. I assisted Chinese colleagues with company and national exams, as well as provided easy-to-understand feedback.



