.container-fluid#finally(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.finally
		h3.display-3.finallyTitle.header Finally...
		|
		#finallyText
			hr.first
			|
			p.finallyDescription ...The world of technology amazes me. I never would have thought I would be heading down this road, but I'm here and I love it. Creating my own applications, building a website from scratch -- all of that and more, it has been a fun ride. This page serves to give you a little taste of what I'm capable of. 
			|
			hr.first
			|
			p.finallyDescription There's an abundance of programming information, with daily challenges in its often-changing and ubiquitous forms. Anything I need to learn, develop, or update, you can count on me to be right on it. I may not be able to remember it all (well, none of us can), but, by being a part of your team, in an environment of learning and growth, I will do my damn best to add value to your company. 
			|
			hr.first
			|
			p.finallyDescription Send me a email at azzanbraxton@gmail.com, and we'll be in touch!
	