nav.navbar.navbar-expand-lg.sticky-top
  a.navbar-brand(href='#') Azzan J. Braxton
  |   
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  |   
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link
          | Email Me at azzanbraxton@gmail.com!
          span.sr-only (current)
      |
      li.nav-item.active
        a.nav-link
          | Available for Full-Time!
          span.sr-only (current)
      li.nav-item.active
        a.nav-link
          | I'm a quick learner. Any language/framework and I'm on it!
          span.sr-only (current)
