.jumbotron.intro
	.container.myInfo
		.fullName
			h1.display-1.name#first Azzan 
			h1.display-1.name#middle J.
			h1.display-1.name#last Braxton
		|
	.introduction
		p.lead.introDescription#introFirstSentence Welcome to my portfolio site! I appreciate the time you have taken out of your busy day to look over my skills as a Junior Web Devloper. 
		|
		p.lead.introDescription#introSecondSentence Here, you'll see a list of my skills, completed projects as well as those currently under development, and a little bit about why I believe I am an asset in potentially joining the Web development team. 
		|
		p.lead.introDescription#introThirdSentencelead Go ahead, check it out!