nav.navbar.navbar-toggleable-sm.navbar-expand-lg.fixed-top
  a.navbar-brand(href='') Azzan J. Braxton
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNav' aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    |
    #mainNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href='#home') Home