.jumbotron.jumbotron-fluid.portfolio
	.container-fluid
		.row
			.col-sm-7#fullStackPortfolio
				#portfolio-1
					h1.display-1.header#full(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000") Full
					h1.display-1.header#stack(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="2000") Stack
					h1.display-1.header#portfolio(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="3000") Portfolio
			.col-sm-5
				#portfolio-2(data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="2200")
					p Welcome to my Portfolio! I appreciate the time you have taken out of your busy day to look over my skills as a Junior Full Stack Devloper.
					|
					hr.first
					|
					p You'll see a list of my skills, completed projects as well as those currently under development, and a little bit about why I believe I am an asset in potentially joining the Web development team. 
					|
					hr.first
					|
					p This was been created with the intention of providing you with a general overview of skills I have worked hard to achieve.
					|
					hr.first
					|
					p.portfolioMovie "#{movie.Title}" is the movie you entered, right? If so, yay! If that's the wrong movie, click on the "Movie" link at the top of the screen for what to do. 
		#deployment
			p This one-page has been deployed through Heroku, and the technologies involve are Node.JS, MySQL, HTML5/CSS3/Bootstrap.
			|
			hr.first
			| 
			p You can view the build available on my Github account. Details below!
			|
			hr.first
			|
			p.lead Enjoy!
