.jumbotron.jumbotron-fluid.portfolio
	.container-fluid
		.row
			.col-xl-7#fullStackPortfolio
				#portfolio-1
					h1.display-1.header#full(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000") Full
					h1.display-1.header#stack(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="2000") Stack
					h1.display-1.header#portfolio(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="3000") Portfolio
			.col-xl-5.portfolioIntroDescription
				#portfolio-2(data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="2200")
					p I appreciate the time you have taken out of your busy week to look over my portfolio. I've been been trained, extensively, and creating projects in Back-End Web Development for over a year. In addition, I'm currently working remotely with Treehouse, Inc. in helping students with their projects of Treehouse, Inc.'s FullStack Javascript TechDegree.
					|
					hr.first
					|
					p You'll see a list of my skills, completed projects as well as those currently under development, and a little bit about why I believe I will be an asset in joining your team of developers. 
					|
					hr.first
					|
					if movie.Response !== 'False'
						p.portfolioMovie "#{movie.Title}" is the movie you entered, right? If so, yay! If that's the wrong movie, click on the "Movie" link at the top of the screen for what to do. 
					else
						p.portfolioMovie Uh-oh! Something went wrong with the movie/year you entered. If you'd like to try again,  
		#deployment
			p This one-page has been deployed through Heroku, and the technologies involve are Node.JS, MySQL, HTML5/CSS3/Bootstrap.
			|
			hr.first
			| 
			p You can view the build available on my Github account. Details below!
			|
			hr.first
			|
			p.lead Enjoy!
