.container-fluid#skills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
	.row
		.col-sm-5
			h3.display-3.hard-skills.header Skills
		|
		.col-sm-7#columnSkills
			.row.developerSkills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-4
					p.skillName HTML5
					img.skillsPicture(src='/images/html.jpg')
				.col-xl-4
					p.skillName CSS3
					img.skillsPicture(src='/images/css.jpg')
				.col-xl-4
					p.skillName GitHub
					img.skillsPicture(src='/images/github.jpg')
			.row.developerSkills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-4
					p.skillName Node.js
					img.skillsPicture(src='/images/node.jpg')
				.col-xl-4
					p.skillName JQuery
					img.skillsPicture(src='/images/jquery.jpg')
				.col-xl-4
					p.skillName AJAX
					img.skillsPicture(src='/images/ajax.jpg')
			.row.developerSkills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-4
					p.skillName Python3
					img.skillsPicture(src='/images/python.jpg')
				.col-xl-4
					p.skillName Pug
					img.skillsPicture(src='/images/pug.jpg')
				.col-xl-4
					p.skillName Gulp
					img.skillsPicture(src='/images/gulp.jpg')
			.row.developerSkills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-4
					p.skillName MongoDB
					img.skillsPicture(src='/images/mongo.jpg')
				.col-xl-4
					p.skillName MySQL
					img.skillsPicture(src='/images/mysql.jpg')
				.col-xl-4
					p.skillName SQLite3 
					img.skillsPicture(src='/images/sqlite.jpg')
			.row.developerSkills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
				.col-xl-4
					p.skillName AngularJS
					img.skillsPicture(src='/images/angular.jpg')
				.col-xl-4
					p.skillName React (Learning)
					img.skillsPicture(src='/images/react.jpg')
				.col-xl-4
					p.skillName Mocha (Learning)
					img.skillsPicture(src='/images/mocha.jpg')
	|
	#allSoftSkills(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
		h2.softHeader The Soft Ones...
		|
		hr.first
		|
		p.soft-skills-description I've been immersing myself in environments full of unknowns since studying abroad in Spain six years ago. From then, I've learned--and, of course, am still learning--how to engage people of various cultural backgrounds, have healthy and motivating conversations, and, most importantly, have fun! 
		|
		hr.first
		|
		p.softSkillsDescription I do my best to daily shift my perspective towards the positive, to be receptive in learning. With that, I'm determined to grow in the field of technology, and can confidently say we will not regret working together.  






