extends introPageLayout

block content
	.container(data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="1000")
		h1.display-1.text-center Before You Enter...
	|
	.container.text-center(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000")
		form(method="post", action="/introPage")
			|
			.form-group
				h2 What's your favorite movie?
					if errMovieMessage
						h5.error= errMovieMessage
				|
				label(for="movie")
				input(type="text", name="movie", id="movie" placeholder="Movie")
			|
			.form-group
				h2 What year was the film released?
					if errYearMessage
						h5.error= errYearMessage
				|
				label(for="year")
				input(type="text", name="year", id="year" placeholder="YYYY")
			|
			.button
				button(type="submit") GO!