body {
	background-color: #EEECE7;
	color: #565653;
	font-family: 'Cormorant Garamond', serif;
	padding: 0;
}

.header {
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
	padding: 20px;
}

.header::first-letter {
	font-size: 180px;
}


/*----------NAVBAR----------*/
.navbar {
	background-color: #818180;
}

#navbarDropdown {
	color: #FBF6C2;
	font-size: 30px;
}

.dropdown-menu {
	background-color: #EEECE7;
	width: 300px;
}

.dropdown-item {
	font-size: 22px;
	margin: 1rem auto;
}

.dropdown-item:active {
	background-color: #818180;
}

.navbar-brand {
	font-family: 'Allura', cursive;
	color: #FBF6C2;
	font-weight: bold;
	font-size: 36px;
}

.navbar-nav {
	border-radius: 15px;
}

.nav-link {
	color: #FBFAEA;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.nav-link:hover {
	color: #4B4D4B;
}

.nav-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: #0F2F02;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.6s ease-in-out 0s;
	transition: all 0.6s ease-in-out 0s;
}

.nav-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/*----------NAVBAR----------*/


/*----------PORTFOLIO----------*/
.portfolio {
	background-color: #EEECE7;
	padding-top: 10rem;
	height: 100rem;
}

.display-1, .display-3 {
	color: #B19710;
	font-size: 120px;
	line-height: 100px;
	width: 300px;
}

#portfolio-2 {
	border-radius: 15px;
	border: 2px solid rgba(88, 87, 86, .5);
	font-size: 28px;
	margin-right: 3rem; 
	padding: 20px;
	text-align: right;
}

#deployment {
	background-color: #EEECE7;
	border-radius: 15px;
	border: 2px solid rgba(88, 87, 86, .5);
	font-size: 28px;
	margin-top: 7rem;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 500px;
	transition: .5s ease;
}

#portfolio-2 > p, #deployment > p {
	text-align: center;
	line-height: 30px;
	margin-bottom: 25px;
}
.first { 
  border: 0; 
  height: 4px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0); 
  margin: 2rem 0;
}
/*----------PORTFOLIO----------*/



/*----------ABOUT----------*/
.allAboutMe {
	background-color: #2A2A27;
	height: 60rem;
	padding: 40px;
}

#me {
	margin-top: 1rem;
}

.aboutText {
	color: #EFE5AF;
	float: right;
	font-size: 23px;
	line-height: 37px;
	margin-top: 2rem;
	text-align: center;
	width: 500px;
}
/*----------ABOUT----------*/


/*----------EMPLOYMENT----------*/
#employment {
	height: 120rem;
	padding: 40px;
}

.employmentText {
	border-radius: 15px;
	border: 2px solid rgba(88, 87, 86, .5);
	float: right;
	font-size: 23px;
	line-height: 37px;
	margin-top: 2rem;
	padding: 20px;
	text-align: center;
	width: 1000px;
}

.position:nth-child(n+2) {
	margin-top: 5rem;
}

.position {
	font-size: 36px;
	font-weight: bold;
	margin-top: 2rem;
}

.second {
	border: 0; 
	height: 4px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #988C4C, #f0f0f0); 
}

/*----------EMPLOYMENT----------*/



/*----------CERTIFICATES----------*/
#certificates {
	background-color: #2A2A27; 
	height: 40rem;
}

.allCertificates {
	padding: 40px;
}

.snapshot {
	text-align: center;
}

.treehouseCertificate {
	border-radius: 10px;
	width: 700px;
	height: auto;
}
/*----------CERTIFICATES----------*/



/*----------SKILLS----------*/
#skills {
	height: 130rem;
	padding: 40px;
}

.developerSkills {
	font-size: 23px;
	line-height: 37px;
}

.developerSkills > .col-xl-4 {
	margin-bottom: 2rem;
}

.skillName {
	font-size: 36px;
	font-weight: bold;
	padding-left: 14px;
	margin-bottom: 1.5rem;
	text-align: left;

	-webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.developerSkills > .col-xl-4:hover > .skillName {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.skillsPicture {
	border-radius: 10px;
	width: 130px;
	height: auto;


	-webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.skillsPicture:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}

#allSoftSkills {
	background-color: #EEECE7;
	border-radius: 15px;
	border: 2px solid rgba(88, 87, 86, .5);
	font-size: 28px;
	margin-top: 7rem;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 1000px;
}

#allSoftSkills > * {
	text-align: center;
}

.softHeader {
	color: #B19710;
	font-size: 72px;
}

.softHeader::first-letter {
	font-size: 100px;
}
/*----------SKILLS----------*/



/*----------PROJECTS----------*/
#projects {
	background-color: #2A2A27;
	height: 150rem;
	padding: 40px;
}

.mainProjects {
	color: #EFE5AF;
	font-size: 28px;
	padding-left: 14px;
	margin-bottom: 1.5rem;
	text-align: center;
}
.projects {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 2rem;
}

.pagination {
	text-align: center;
}

.mainProjects > .col-xl-6 > p {
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.mainProjects > .col-xl-6:hover > p {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.projectPicture {
	border-radius: 10px;
	width: 350px;
	height: auto;
	margin-bottom: 2rem;

	-webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.projectPicture:hover  {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/*----------PROJECTS----------*/



/*----------EDUCATION----------*/
#education {
	padding: 20px;
	padding-top: 6rem;
}

.diplomaPicture {
	border-radius: 10px;
	width: 700px;
	height: auto;
}

#diplomaDescription {
	font-size: 28px;
	text-align-last: center;
}

#diplomaDescription > p {
	margin-top: 2rem;
}
/*----------EDUCATION----------*/




/*----------FINALLY----------*/
#finally {
	background-color: #2A2A27;
	height: 50rem;
	padding: 40px;
}

.finally {
	margin: 0px auto;
	width: 1000px;
}

.finallyTitle {
	margin: 0 auto;
	padding: 0;
}

.finallyDescription {
	color: #EFE5AF;
	font-size: 23px;
	line-height: 38px;
	text-align: center;
}

/*----------FINALLY----------*/





/*----------MOVIES----------*/
#movie {
	padding: 40px;
}

#movieImage {
	border-radius: 10px;
	width: 450px;
	height: auto;
}

.movieTitle {
	font-size: 36px;
	font-weight: bold;
	margin-top: 2rem;
}

#movieText {
	border-radius: 15px;
	border: 2px solid rgba(88, 87, 86, .5);
	font-size: 28px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	text-align: center;
	width: 1200px;
}

.movieLinks {
	font-weight: bold;
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
}

.website:link {
	color:#B19710;
}

.website:visited {
	color:#818180;
}
/*----------MOVIES----------*/


















/*----------MEDIA BREAKPOINTS----------*/
@media only screen and (max-width: 1650px) {
	#employment {
		height: 150rem;
	}

	.employmentHeader {
		font-size: 50px;
	}

	.aboutText, .employmentText {
		margin-top: 2rem;
		margin-left: auto;
    	margin-right: auto;
		width: 700px;
	}
}

@media only screen and (max-width: 1480px) {
	.projectPicture {
		width: 275px;
	}

	.treehouseCertificate {
		width: 400px;
	}
}

@media only screen and (max-width: 1250px) {
	.portfolio {
        height:150rem;
    }

    #columnSkills {
    	text-align: center;
    }


    .mainProjects {
    	margin-top: 2rem;
    }

    .developerSkills > .col-xl-4 {
    	margin-top: 1.5rem;
    }

    .skillName {
    	text-align: center;
    }
	
	.educationTitle, #portfolio-1 > h1 {
		font-size: 50px;
	}
	
	#portfolio-1 > h1 {
		margin-left: auto;
    	margin-right: auto;
    	text-align: center;
    }

    #portfolio-2 {
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 2rem;
    }

    .header {
    	font-size:  50px;
    }

	.header::first-letter {
		font-size: 130px;
	} 

	.certificateHeader {
		font-size: 50px;
		margin-left: auto;
    	margin-right: auto;
    	text-align: center;
	}

	.diplomaPicture {
		width: 450px;
	}

	#finallyText {
		width: 450px;
		margin-left: auto;
    	margin-right: auto;
	}

	.finallyTitle {
		font-size: 50px;
		text-align: center;
	}
}

@media only screen and (max-width: 1199px) {
	.employmentHeader, .educationTitle, #about, #me {
		margin-left: auto;
    	margin-right: auto;
    	text-align: center;
	}

	.allAboutMe {
    	height: 93rem;
    }

    #skills {
    	height: 295rem;
    }

    #projects {
    	height: 230rem;
    }
}

@media only screen and (max-width: 1100px) {

	#allSoftSkills {
    	width: 450px;
    }

    #allProjects {
    	margin-top: 2rem;
    }

 	.diplomaTitle {
    	margin-top: 2rem;
    	margin-bottom: 2rem;
    	text-align: center;
    }

}

@media only screen and (max-width: 950px) {
	.header {
		margin-left: auto;
    	margin-right: auto;
		text-align: center;
	}

    #deployment, #portfolio-2 {
    	width: 400px;
    }

    .aboutText {
    	width: 350px;
    }

    #certificates {
    	height: 50rem;
    }

    .allCertificates {
    	text-align: center;
    }

    .snapshot {
    	margin-top: 2rem;
    	text-align: center;
    }

    #employment {
		height: 180rem;
	}

	#finally {
		height: 80rem;
	}

    .finally {
    	margin-top: 5rem;
    	width: 450px;
    }

	#movieText {
		 width: 450px;
	}
	#movieImage {
		width: 350px;
	}
}
/*----------MEDIA BREAKPOINTS----------*/













