body {
	background-image: url(/images/timothy-meinberg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-size: cover;
	background-attachment: fixed;
	font-family:  'Fresca', sans-serif;
}

.jumbotron {
	background-color: rgba(200,204,200, 0);
	letter-spacing: -1px;
	margin: 5rem 8rem 8rem 8rem;
	padding: 8rem;	

}

.jumbotron > .container {
	border-radius: 20%;
	padding: 17px;
	transition: background-color 1s ease;
}

.jumbotron > .container:hover {
	background-color: rgba(200,204,200, .5);
}

.jumbotron-details {
	font-family: 'PT+Sans', sans-serif;
	font-size: 16px;
	margin-top: 3rem;
}

.display-4 {
	font-family: 'PT+Sans', sans-serif;
	margin: 1rem auto;
	text-align: center;
}

.profile-details {
	font-size: 20px;
	margin-top: 1rem;
}

.profile-image {
	width: 10%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie-container {
	margin: 10rem auto;
	width: 100%;
}

.movie-details {
	background-color: rgba(200,204,200, .2);
	color: #5C9CAF;
	text-align: center;
	width: 50%;
}

.movie-details > p  {
	margin-top: 2rem;
}

.website:hover {
	color: #5C9CAF;
	font-weight: bold;
	text-decoration: none;
}

.card-img {
	border-radius: 18px;
	height: auto;
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img-overlay {
	width: 100%;
}

.card-container {
	margin: 5rem auto;
	padding: 3rem auto;
	width: 100%;
}

.card-twitter {
	background-color: rgba(200,204,200, .5);
	transition: opacity 1s ease;
	opacity: .3;
}

.card:hover {
	opacity: 1;
}

.card, .card-img-top {
	border-radius: 18px;
}

.card-img-top {
	background-repeat: repeat;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.card-twitter:nth-child(odd) {
	float: left;
	width: 40%;
	margin-bottom: 3rem;
}

.card-twitter:nth-child(even) {
	float: right;
	width: 40%;
	margin-bottom: 3rem;
}

.card-img-top {
	margin: 20px auto;
}

.card-body {
	border-radius: 18px;
	margin: 0px auto;
	transition: background-color 1s ease, color 1s ease;
	width: 100%;
}

.card-body:hover {
	background-color: #F2F0E7;
	color: #5C9CAF;
	opacity: 1;
}

.card-title, .display-3, .card-text, .profile-details {
	text-align: center;
}
